<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <link rel="stylesheet" href="/styles/style.css">

</head>
<%- include('includes/header') %>


<body>
    <section>
        <p>ОД</p>
        <p><%=theNumber%></p>

    </section>
    <section>
        <p>ДО</p>
        <p><%=thePayee%></p>

    </section>
    <section>
        <p>Износ</p>
        <p><%=theAmount%></p>
    </section>
    <section>
        <p>Датум</p>
        <p><%=theDate%></p>
    </section>

</body>
</html> -->