<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/index.js" defer></script>
    <link rel="stylesheet" href="/styles/style.css">
    <title>The Invoice App</title>
</head>
<body>
    <%- include('includes/header') %>

    <h1>Промени фактура број: <%= invoice.number%> </h1>
<section class="inputInvoice">
    <form action="amendInvoice" method="POST" >
        <p>Промени должник <%= invoice.invoicePayee %></p>
        <input type="text" name="invoicePayee" placeholder="Должник по фактура" id="<%= invoice.id %>"> 
        <button>Внеси</button>
     </form>

     <form action="amendInvoice" method="POST" value="<%= invoice.id %>">
        <p>Промени адреса на должник: <%= invoice.invoicePayeeAddress %> </p>
        <input type="text" name="invoicePayeeAddress" placeholder="Адреса на должник по фактура" > 
        <button>Внеси</button>
     </form>

     <form action="amendInvoice" method="POST">
        <p>Промени датум на фактура: <%= invoice.invoiceDate %> </p>
        <input type="date" name="invoiceDate" placeholder="Датум на фактура" id="invoiceDate"> 
        <button>Внеси</button>
     </form>

     <form action="amendInvoice" method="POST">
        <p>Промени производ или услуга <%= invoice.invoiceItem %></p>
        <input type="text" name="invoiceItem" placeholder="Производ или услуга за фактура"> 
        <button>Внеси</button>
     </form>

     <form action="amendInvoice" method="POST">
        <p>Промени износ на фактура <%= invoice.invoiceAmount %>,00 денари</p>
        <input type="number" name="invoiceAmount" placeholder="Износ на фактура"> 
        <button>Внеси</button>
     </form>
</section>

<section class="inputInvoice">
</section>
</body>
</html>

